{% extends "base.html"%}

{% block cards %}
<main id="main" class="main">

  <div class="pagetitle">
    <h1>Hospitals</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Hospitals</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row"> <!-- Start of row -->

      {% for i in range(Hospitals['id']|length) %}
        
      <!-- listings Card -->
      <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">
        <div class="card listing">
          <div class="card-body position-relative">
            <a href="{{ url_for('users.Hospital', clinic_id=Hospitals['hospital_id'][i]) }}" class="image-mask">
              <img src="https://lh3.googleusercontent.com/drive-viewer/AEYmBYRrgvf9gpzKh5gPNaLSg0PvkWLnDSnKoIZ9CQ1G-BnjHGKX8UiYPGrMA8J_lvHGa2ke-3tOs_B5iH1SU-jsYKjBObWF4w=s1600" class="card-img-top image-overlay limit-image">
            </a>

            <div class="d-flex">
              <div class="col-10 card-dis">
                <div class="row">
                  <div class="d-flex align-items-center dis-row">
                    <i class="bi bi-coin"></i>
                    <h3 class="mb-0">{{Hospitals['name'][i]}}</h3>
                  </div>
                  <div class="d-flex align-items-center">
                    <i class="bi bi-laptop"></i>
                    <h5 class="mb-0">{{Hospitals['classification'][i]}}</h5>
                  </div>
                </div>

                <div class="spec-row">
                  <div class="d-flex flex-wrap align-items-center">
                    <div>
                      <i class="bi bi-device-ssd"></i>
                      <h7 class="pe-2">Total wards {{Hospitals['no_of_wards'][i]}}</h7>
                    </div>
                    <div>
                      <i class="bi bi-memory"></i>
                      <h7 class="pe-2">{{Hospitals['phone_no'][i]}}</h7>
                    </div>
                    <div>
                      <i class="bi bi-cpu"></i>
                      <h7 class="pe-2">{{Hospitals['address'][i]}}</h7>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2 d-flex flex-column align-items-center justify-content-center">
                <a href="#">
                  <i class="bi bi-star"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- listings Card -->

      {% endfor %}

    </div> <!-- End of row -->
  </section>
</main>
{% endblock %}
