{% extends "base.html" %}


{%block cards%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Wards</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Neuro Ward</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


      </div>
    </section>


    <section class="section dashboard">
      <div class="row">


<!-- BEDS -->

<div>
  
  <h2>
    Free Beds = 1
  </h2>
</div>
    <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person-fill"></i>
      </div>
    </div>
    <!-- listings Card -->


    <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person-fill"></i>
      </div>
    </div>
    <!-- listings Card -->


        <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person-fill"></i>
      </div>
    </div>
    <!-- listings Card -->



        <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person-fill"></i>
      </div>
    </div>
    <!-- listings Card -->



    <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person"></i>
      </div>
    </div>
    <!-- listings Card -->

     
      </div>
    </section>
  <!-- BEDS -->

{%endblock%}