{% extends "base.html" %}


{%block cards%}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Wards</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Neuro Ward</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">


      </div>
    </section>


    <section class="section dashboard">
      <div class="row">


<!-- BEDS -->

<h2>
  {% for i in range(wards['id']|length) %}
    {% set ward_identification = wards['ward_no'][i] %}
    {% if ward_identification == ward_id %}
      Free Bed(s) = {{wards['free_beds'][i]}}
    {% endif %}
  {% endfor %}
  
  </h2>


{% for i in range(wards['id']|length) %}
  {% set ward_identification = wards['ward_no'][i] %}
  {% if ward_identification == ward_id %}
    {% set total_beds = wards['total_beds'][i]|int %}
    {% set free_beds = wards['free_beds'][i]|int %}
    {% set used_space = total_beds - free_beds %}
    {% for x in range(used_space) %}


    <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person-fill"></i>
      </div>
    </div>
    <!-- listings Card -->


    {% endfor %}
  {% endif %}
{% endfor %}



{% for i in range(wards['id']|length) %}
{% set ward_identification = wards['ward_no'][i] %}
{% if ward_identification == ward_id %}
    {% set free_beds = wards['free_beds'][i]|int %}
    {% for x in range(free_beds) %}


    <!-- listings Card -->
    <div class="col-xxl-3 col-md-4 col-lg-4 col-sm-6">

        <div class="card-body position-relative">
              <i class="bi bi-file-person"></i>
      </div>
    </div>
    <!-- listings Card -->


    {% endfor %}
  {% endif %}
{% endfor %}

      </div>
    </section>
  <!-- BEDS -->

{%endblock%}